html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {background-color: #b2bec3;
}

.photo {border-style: solid;
border-color: white;
border-width: 3px;
width: 150px;
height: 150px;
border-radius:50%;
box-shadow: 5px 5px 5px rgb(143, 142, 142);
}

.box { 
    position: relative;
    margin-top:150px;
    margin-left:auto;
    margin-right:auto;
    width: 550px;
    font-family: 'Nunito', sans-serif;
    background-color:white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(143, 142, 142);

}

.box img { position: absolute;
    left: 470px;
    bottom: 400px;
}

.twitter {background-color: #1da1f2;
    border: none;
    color:white;
    text-decoration: none;
    display:block;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    text-transform: uppercase; 
}
.twitter:hover {background-color: #0b7bc1;

}
.facebook {
    margin-top: 5px; 
    background-color: #3b5998;
    border: none;
    color:white;
    text-decoration: none;
    display:block;
    border-radius: 5px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    padding-top:10px;
    padding-bottom:10px;
    text-transform:uppercase;
}

.facebook:hover {background-color: #2b406e;
}

h1{
    font-size: 36px;
    font-weight: bold;
    color: #d63031;
}

.para {
    text-align:justify;
    font-size:18px;
}

.paragraphs {margin-top:30px;
margin-bottom:30px;
}
